body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:611px;
  overflow:hidden;
}
#u228_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:611px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/projects_ccl/u228_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u228_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u229 {
  position:fixed;
  right:14px;
  top:51px;
}
#u229_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:133px;
  background-image:none;
}
#u229_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u231_img.selected {
}
#u231.selected {
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:25px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:10px;
  width:30px;
  height:24px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:44px;
  height:44px;
}
#u234_img.selected {
}
#u234.selected {
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:60px;
  width:30px;
  height:13px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:44px;
  height:44px;
}
#u237_img.selected {
}
#u237.selected {
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:15px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:103px;
  width:30px;
  height:14px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:1201px;
  height:621px;
  overflow:hidden;
}
#u239_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:621px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(217, 186, 138, 0.67843137254902);
  background-image:none;
}
#u239_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:50px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:254px;
  width:900px;
  height:49px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:34px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:333px;
  width:900px;
  height:33px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1082px;
  width:1201px;
  height:712px;
  overflow:hidden;
}
#u242_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:712px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/projects_ccl/u242_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u242_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:42px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:710px;
  width:900px;
  height:41px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:121px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:851px;
  width:692px;
  height:120px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  word-wrap:break-word;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1082px;
  width:1201px;
  height:712px;
  overflow:hidden;
}
#u245_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:712px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(33, 33, 33, 0.658823529411765);
  background-image:none;
}
#u245_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:42px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1211px;
  width:900px;
  height:41px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  text-align:center;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:265px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:1401px;
  width:692px;
  height:264px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-style:normal;
  font-size:18px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:34px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1272px;
  width:900px;
  height:33px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:83px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:1913px;
  width:380px;
  height:82px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:30px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:289px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:2067px;
  width:380px;
  height:288px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:20px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:2363px;
  width:450px;
  height:19px;
  font-family:'OpenSansLight-Italic', 'Open Sans Light Italic', 'Open Sans';
  font-weight:200;
  font-style:italic;
  font-size:14px;
  text-align:center;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:450px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:1913px;
  width:450px;
  height:450px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2512px;
  width:1201px;
  height:2px;
  overflow:hidden;
}
#u253_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u253_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:42px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:2633px;
  width:900px;
  height:41px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:193px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:2774px;
  width:692px;
  height:192px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  word-wrap:break-word;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:20px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:3630px;
  width:900px;
  height:19px;
  font-family:'OpenSansLight-Italic', 'Open Sans Light Italic', 'Open Sans';
  font-weight:200;
  font-style:italic;
  font-size:14px;
  text-align:center;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:490px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:3083px;
  width:900px;
  height:490px;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3776px;
  width:1201px;
  height:2px;
  overflow:hidden;
}
#u260_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u260_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1px;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:83px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:3897px;
  width:368px;
  height:82px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:30px;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  word-wrap:break-word;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:313px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:4059px;
  width:368px;
  height:312px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  word-wrap:break-word;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:20px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:4357px;
  width:430px;
  height:19px;
  font-family:'OpenSansLight-Italic', 'Open Sans Light Italic', 'Open Sans';
  font-weight:200;
  font-style:italic;
  font-size:14px;
  text-align:center;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:407px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:3897px;
  width:200px;
  height:407px;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:408px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:3897px;
  width:200px;
  height:408px;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4506px;
  width:1201px;
  height:2px;
  overflow:hidden;
}
#u267_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u267_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1px;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:83px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:4626px;
  width:360px;
  height:82px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:30px;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:193px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:4788px;
  width:360px;
  height:192px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:20px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:5080px;
  width:430px;
  height:19px;
  font-family:'OpenSansLight-Italic', 'Open Sans Light Italic', 'Open Sans';
  font-weight:200;
  font-style:italic;
  font-size:14px;
  text-align:center;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:408px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:4626px;
  width:200px;
  height:408px;
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:408px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:4626px;
  width:200px;
  height:408px;
}
#u274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5218px;
  width:1201px;
  height:2px;
  overflow:hidden;
}
#u275_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u275_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1px;
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:42px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:5555px;
  width:360px;
  height:41px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:30px;
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:145px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:5676px;
  width:360px;
  height:144px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:25px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:5339px;
  width:450px;
  height:24px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#D9BA8A;
  text-align:center;
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:61px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:6291px;
  width:900px;
  height:60px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:6219px;
  width:30px;
  height:29px;
}
#u282_img.mouseOver {
}
#u282.mouseOver {
}
#u282_img.mouseDown {
}
#u282.mouseDown {
}
#u282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:6219px;
  width:30px;
  height:30px;
}
#u283_img.mouseOver {
}
#u283.mouseOver {
}
#u283_img.mouseDown {
}
#u283.mouseDown {
}
#u283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:6224px;
  width:30px;
  height:19px;
}
#u284_img.mouseOver {
}
#u284.mouseOver {
}
#u284_img.mouseDown {
}
#u284.mouseDown {
}
#u284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:6219px;
  width:30px;
  height:30px;
}
#u285_img.mouseOver {
}
#u285.mouseOver {
}
#u285_img.mouseDown {
}
#u285.mouseDown {
}
#u285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:6221px;
  width:30px;
  height:25px;
}
#u286_img.mouseOver {
}
#u286.mouseOver {
}
#u286_img.mouseDown {
}
#u286.mouseDown {
}
#u286_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:6172px;
  width:52px;
  height:19px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  color:#364856;
}
#u288_img.mouseOver {
}
#u288.mouseOver {
}
#u288_img.mouseDown {
}
#u288.mouseDown {
}
#u288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:6175px;
  width:1px;
  height:14px;
}
#u289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:6172px;
  width:35px;
  height:19px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  color:#364856;
}
#u290_img.mouseOver {
}
#u290.mouseOver {
}
#u290_img.mouseDown {
}
#u290.mouseDown {
}
#u290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:5413px;
  width:285px;
  height:548px;
}
#u291_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:548px;
  overflow:hidden;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:828px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u228.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:769px;
  height:391px;
}
#u228_state0.a {
  width:769px;
  height:391px;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/projects_ccl/u228_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u229.a {
  position:fixed;
  right:14px;
  top:51px;
}
#u231.a {
}
#u231_img.a {
}
#u231.a {
}
#u231_img.a.selected {
}
#u231.a.selected {
}
#u232.a {
}
#u232_img.a {
}
#u232.a {
}
#u234.a {
}
#u234_img.a {
}
#u234.a {
}
#u234_img.a.selected {
}
#u234.a.selected {
}
#u235.a {
}
#u235_img.a {
}
#u235.a {
}
#u237.a {
}
#u237_img.a {
}
#u237.a {
}
#u237_img.a.selected {
}
#u237.a.selected {
}
#u238.a {
}
#u238_img.a {
}
#u238.a {
}
#u229_state0.a {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:133px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u239.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-10px;
  width:769px;
  height:398px;
}
#u240.a {
  left:13px;
  top:118px;
  width:742px;
  height:98px;
}
#u240_img.a {
  width:743px;
  height:99px;
}
#u240.a {
  left:13px;
  top:118px;
  width:742px;
  height:98px;
}
#u240_text.a {
  width:742px;
}
#u241.a {
  left:13px;
  top:246px;
  width:742px;
}
#u241_img.a {
  width:743px;
}
#u241.a {
  left:13px;
  top:246px;
  width:742px;
}
#u241_text.a {
  width:742px;
}
#u239_state0.a {
  width:769px;
  height:398px;
  background-color:rgba(217, 186, 138, 0.67843137254902);
  background-image:none;
}
#u242.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:898px;
  width:769px;
  height:751px;
}
#u242_state0.a {
  width:769px;
  height:751px;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/projects_ccl/u242_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u243.a {
  left:60px;
  top:507px;
  width:648px;
}
#u243_img.a {
  width:649px;
}
#u243.a {
  left:60px;
  top:507px;
  width:648px;
}
#u243_text.a {
  width:648px;
}
#u244.a {
  left:60px;
  top:648px;
  width:648px;
}
#u244_img.a {
  width:649px;
}
#u244.a {
  left:60px;
  top:648px;
  width:648px;
}
#u244_text.a {
  width:648px;
}
#u245.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:898px;
  width:769px;
  height:751px;
}
#u245_state0.a {
  width:769px;
  height:751px;
  background-color:rgba(33, 33, 33, 0.658823529411765);
  background-image:none;
}
#u246.a {
  left:60px;
  top:1027px;
  width:648px;
}
#u246_img.a {
  width:649px;
}
#u246.a {
  left:60px;
  top:1027px;
  width:648px;
}
#u246_text.a {
  width:648px;
}
#u247.a {
  left:60px;
  top:1217px;
  width:648px;
  height:312px;
}
#u247_img.a {
  width:649px;
  height:313px;
}
#u247.a {
  left:60px;
  top:1217px;
  width:648px;
  height:312px;
}
#u247_text.a {
  width:648px;
}
#u248.a {
  left:60px;
  top:1088px;
  width:648px;
}
#u248_img.a {
  width:649px;
}
#u248.a {
  left:60px;
  top:1088px;
  width:648px;
}
#u248_text.a {
  width:648px;
}
#u249.a {
  left:60px;
  top:1768px;
  width:297px;
}
#u249_img.a {
  width:298px;
}
#u249.a {
  left:60px;
  top:1768px;
  width:297px;
}
#u249_text.a {
  width:297px;
}
#u250.a {
  left:60px;
  top:1888px;
  width:297px;
  height:360px;
}
#u250_img.a {
  width:298px;
  height:361px;
}
#u250.a {
  left:60px;
  top:1888px;
  width:297px;
  height:360px;
}
#u250_text.a {
  width:297px;
}
#u251.a {
  left:367px;
  top:2119px;
  width:341px;
}
#u251_img.a {
  width:342px;
}
#u251.a {
  left:367px;
  top:2119px;
  width:341px;
}
#u251_text.a {
  width:341px;
}
#u252.a {
  left:357px;
  top:1768px;
  width:351px;
  height:351px;
}
#u252_img.a {
  width:351px;
  height:351px;
}
#u252.a {
  left:357px;
  top:1768px;
  width:351px;
  height:351px;
}
#u253.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2378px;
  width:769px;
  height:2px;
}
#u254.a {
}
#u254_img.a {
}
#u254.a {
}
#u253_state0.a {
  width:769px;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u255.a {
  left:60px;
  top:2498px;
  width:648px;
}
#u255_img.a {
  width:649px;
}
#u255.a {
  left:60px;
  top:2498px;
  width:648px;
}
#u255_text.a {
  width:648px;
}
#u256.a {
  left:60px;
  top:2639px;
  width:648px;
  height:216px;
}
#u256_img.a {
  width:649px;
  height:217px;
}
#u256.a {
  left:60px;
  top:2639px;
  width:648px;
  height:216px;
}
#u256_text.a {
  width:648px;
}
#u257.a {
  left:60px;
  top:3358px;
  width:648px;
}
#u257_img.a {
  width:649px;
}
#u257.a {
  left:60px;
  top:3358px;
  width:648px;
}
#u257_text.a {
  width:648px;
}
#u259.a {
  left:60px;
  top:2945px;
  width:648px;
  height:353px;
}
#u259_img.a {
  width:648px;
  height:353px;
}
#u259.a {
  left:60px;
  top:2945px;
  width:648px;
  height:353px;
}
#u260.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3507px;
  width:769px;
  height:2px;
}
#u261.a {
}
#u261_img.a {
}
#u261.a {
}
#u260_state0.a {
  width:769px;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u262.a {
  left:437px;
  top:3627px;
  width:271px;
}
#u262_img.a {
  width:272px;
}
#u262.a {
  left:437px;
  top:3627px;
  width:271px;
}
#u262_text.a {
  width:271px;
}
#u263.a {
  left:437px;
  top:3746px;
  width:271px;
  height:408px;
}
#u263_img.a {
  width:272px;
  height:409px;
}
#u263.a {
  left:437px;
  top:3746px;
  width:271px;
  height:408px;
}
#u263_text.a {
  width:271px;
}
#u264.a {
  left:60px;
  top:3966px;
  width:324px;
  height:38px;
}
#u264_img.a {
  width:325px;
  height:39px;
}
#u264.a {
  left:60px;
  top:3966px;
  width:324px;
  height:38px;
}
#u264_text.a {
  width:324px;
}
#u265.a {
  left:233px;
  top:3627px;
  width:147px;
  height:300px;
}
#u265_img.a {
  width:147px;
  height:300px;
}
#u265.a {
  left:233px;
  top:3627px;
  width:147px;
  height:300px;
}
#u266.a {
  left:64px;
  top:3627px;
  width:147px;
  height:300px;
}
#u266_img.a {
  width:147px;
  height:300px;
}
#u266.a {
  left:64px;
  top:3627px;
  width:147px;
  height:300px;
}
#u267.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4284px;
  width:769px;
  height:2px;
}
#u268.a {
}
#u268_img.a {
}
#u268.a {
}
#u267_state0.a {
  width:769px;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u269.a {
  left:60px;
  top:4404px;
  width:271px;
  height:123px;
}
#u269_img.a {
  width:272px;
  height:124px;
}
#u269.a {
  left:60px;
  top:4404px;
  width:271px;
  height:123px;
}
#u269_text.a {
  width:271px;
}
#u270.a {
  left:60px;
  top:4567px;
  width:265px;
  height:240px;
}
#u270_img.a {
  width:266px;
  height:241px;
}
#u270.a {
  left:60px;
  top:4567px;
  width:265px;
  height:240px;
}
#u270_text.a {
  width:265px;
}
#u271.a {
  left:384px;
  top:4738px;
  width:324px;
}
#u271_img.a {
  width:325px;
}
#u271.a {
  left:384px;
  top:4738px;
  width:324px;
}
#u271_text.a {
  width:324px;
}
#u273.a {
  left:558px;
  top:4404px;
  width:147px;
  height:300px;
}
#u273_img.a {
  width:147px;
  height:300px;
}
#u273.a {
  left:558px;
  top:4404px;
  width:147px;
  height:300px;
}
#u274.a {
  left:388px;
  top:4404px;
  width:147px;
  height:300px;
}
#u274_img.a {
  width:147px;
  height:300px;
}
#u274.a {
  left:388px;
  top:4404px;
  width:147px;
  height:300px;
}
#u275.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4937px;
  width:769px;
  height:2px;
}
#u276.a {
}
#u276_img.a {
}
#u276.a {
}
#u275_state0.a {
  width:769px;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u277.a {
  left:449px;
  top:5192px;
  width:259px;
}
#u277_img.a {
  width:260px;
}
#u277.a {
  left:449px;
  top:5192px;
  width:259px;
}
#u277_text.a {
  width:259px;
}
#u278.a {
  left:449px;
  top:5279px;
  width:259px;
}
#u278_img.a {
  width:260px;
}
#u278.a {
  left:449px;
  top:5279px;
  width:259px;
}
#u278_text.a {
  width:259px;
}
#u279.a {
  left:60px;
  top:5057px;
  width:324px;
}
#u279_img.a {
  width:325px;
}
#u279.a {
  left:60px;
  top:5057px;
  width:324px;
}
#u279_text.a {
  width:324px;
}
#u280.a {
  position:absolute;
  left:60px;
  top:5777px;
  width:768px;
  height:179px;
}
#u281.a {
  left:60px;
  top:5896px;
  width:768px;
}
#u281_img.a {
  width:769px;
}
#u281.a {
  left:60px;
  top:5896px;
  width:768px;
}
#u281_text.a {
  width:768px;
}
#u282.a {
  left:321px;
  top:5824px;
}
#u282_img.a {
}
#u282.a {
  left:321px;
  top:5824px;
}
#u282_img.a.mouseOver {
}
#u282.a.mouseOver {
}
#u282_img.a.mouseDown {
}
#u282.a.mouseDown {
}
#u283.a {
  left:375px;
  top:5824px;
}
#u283_img.a {
}
#u283.a {
  left:375px;
  top:5824px;
}
#u283_img.a.mouseOver {
}
#u283.a.mouseOver {
}
#u283_img.a.mouseDown {
}
#u283.a.mouseDown {
}
#u284.a {
  left:429px;
  top:5829px;
}
#u284_img.a {
}
#u284.a {
  left:429px;
  top:5829px;
}
#u284_img.a.mouseOver {
}
#u284.a.mouseOver {
}
#u284_img.a.mouseDown {
}
#u284.a.mouseDown {
}
#u285.a {
  left:484px;
  top:5824px;
}
#u285_img.a {
}
#u285.a {
  left:484px;
  top:5824px;
}
#u285_img.a.mouseOver {
}
#u285.a.mouseOver {
}
#u285_img.a.mouseDown {
}
#u285.a.mouseDown {
}
#u286.a {
  left:538px;
  top:5826px;
}
#u286_img.a {
}
#u286.a {
  left:538px;
  top:5826px;
}
#u286_img.a.mouseOver {
}
#u286.a.mouseOver {
}
#u286_img.a.mouseDown {
}
#u286.a.mouseDown {
}
#u288.a {
  left:373px;
  top:5777px;
}
#u288_img.a {
}
#u288.a {
  left:373px;
  top:5777px;
}
#u288_img.a.mouseOver {
}
#u288.a.mouseOver {
}
#u288_img.a.mouseDown {
}
#u288.a.mouseDown {
}
#u288_text.a {
}
#u289.a {
  left:444px;
  top:5780px;
}
#u289_img.a {
}
#u289.a {
  left:444px;
  top:5780px;
}
#u290.a {
  left:465px;
  top:5777px;
}
#u290_img.a {
}
#u290.a {
  left:465px;
  top:5777px;
}
#u290_img.a.mouseOver {
}
#u290.a.mouseOver {
}
#u290_img.a.mouseDown {
}
#u290.a.mouseDown {
}
#u290_text.a {
}
#u291.a {
  left:80px;
  top:5131px;
}
#u291_input.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:548px;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:349px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u228.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:497px;
}
#u228_state0.b {
  width:376px;
  height:497px;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/projects_ccl/u228_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u229.b {
  position:fixed;
  right:14px;
  top:10px;
}
#u231.b {
}
#u231_img.b {
}
#u231.b {
}
#u231_img.b.selected {
}
#u231.b.selected {
}
#u232.b {
}
#u232_img.b {
}
#u232.b {
}
#u234.b {
}
#u234_img.b {
}
#u234.b {
}
#u234_img.b.selected {
}
#u234.b.selected {
}
#u235.b {
}
#u235_img.b {
}
#u235.b {
}
#u237.b {
}
#u237_img.b {
}
#u237.b {
}
#u237_img.b.selected {
}
#u237.b.selected {
}
#u238.b {
}
#u238_img.b {
}
#u238.b {
}
#u229_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:133px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u239.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:497px;
}
#u240.b {
  left:50px;
  top:102px;
  width:275px;
  height:196px;
}
#u240_img.b {
  width:276px;
  height:197px;
}
#u240.b {
  left:50px;
  top:102px;
  width:275px;
  height:196px;
}
#u240_text.b {
  width:275px;
}
#u241.b {
  left:50px;
  top:328px;
  width:275px;
  height:66px;
}
#u241_img.b {
  width:276px;
  height:67px;
}
#u241.b {
  left:50px;
  top:328px;
  width:275px;
  height:66px;
}
#u241_text.b {
  width:275px;
}
#u239_state0.b {
  width:376px;
  height:497px;
  background-color:rgba(217, 186, 138, 0.67843137254902);
  background-image:none;
}
#u242.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1103px;
  width:376px;
  height:1102px;
}
#u242_state0.b {
  width:376px;
  height:1102px;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/projects_ccl/u242_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u243.b {
  left:50px;
  top:615px;
  width:275px;
  height:82px;
}
#u243_img.b {
  width:276px;
  height:83px;
}
#u243.b {
  left:50px;
  top:615px;
  width:275px;
  height:82px;
}
#u243_text.b {
  width:275px;
}
#u244.b {
  left:50px;
  top:757px;
  width:275px;
  height:216px;
}
#u244_img.b {
  width:276px;
  height:217px;
}
#u244.b {
  left:50px;
  top:757px;
  width:275px;
  height:216px;
}
#u244_text.b {
  width:275px;
}
#u245.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1103px;
  width:376px;
  height:1102px;
}
#u245_state0.b {
  width:376px;
  height:1102px;
  background-color:rgba(33, 33, 33, 0.658823529411765);
  background-image:none;
}
#u246.b {
  left:50px;
  top:1232px;
  width:275px;
  height:82px;
}
#u246_img.b {
  width:276px;
  height:83px;
}
#u246.b {
  left:50px;
  top:1232px;
  width:275px;
  height:82px;
}
#u246_text.b {
  width:275px;
}
#u247.b {
  left:50px;
  top:1470px;
  width:275px;
  height:600px;
}
#u247_img.b {
  width:276px;
  height:601px;
}
#u247.b {
  left:50px;
  top:1470px;
  width:275px;
  height:600px;
}
#u247_text.b {
  width:275px;
}
#u248.b {
  left:50px;
  top:1344px;
  width:275px;
  height:66px;
}
#u248_img.b {
  width:276px;
  height:67px;
}
#u248.b {
  left:50px;
  top:1344px;
  width:275px;
  height:66px;
}
#u248_text.b {
  width:275px;
}
#u249.b {
  left:50px;
  top:2324px;
  width:275px;
}
#u249_img.b {
  width:276px;
}
#u249.b {
  left:50px;
  top:2324px;
  width:275px;
}
#u249_text.b {
  width:275px;
}
#u250.b {
  left:50px;
  top:2466px;
  width:275px;
  height:360px;
}
#u250_img.b {
  width:276px;
  height:361px;
}
#u250.b {
  left:50px;
  top:2466px;
  width:275px;
  height:360px;
}
#u250_text.b {
  width:275px;
}
#u251.b {
  left:58px;
  top:3219px;
  width:267px;
}
#u251_img.b {
  width:268px;
}
#u251.b {
  left:58px;
  top:3219px;
  width:267px;
}
#u251_text.b {
  width:267px;
}
#u252.b {
  left:50px;
  top:2944px;
  width:275px;
  height:275px;
}
#u252_img.b {
  width:275px;
  height:275px;
}
#u252.b {
  left:50px;
  top:2944px;
  width:275px;
  height:275px;
}
#u253.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3357px;
  width:376px;
  height:2px;
}
#u254.b {
}
#u254_img.b {
}
#u254.b {
}
#u253_state0.b {
  width:376px;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u255.b {
  left:50px;
  top:3477px;
  width:275px;
  height:82px;
}
#u255_img.b {
  width:276px;
  height:83px;
}
#u255.b {
  left:50px;
  top:3477px;
  width:275px;
  height:82px;
}
#u255_text.b {
  width:275px;
}
#u256.b {
  left:50px;
  top:3618px;
  width:275px;
  height:456px;
}
#u256_img.b {
  width:276px;
  height:457px;
}
#u256.b {
  left:50px;
  top:3618px;
  width:275px;
  height:456px;
}
#u256_text.b {
  width:275px;
}
#u257.b {
  left:50px;
  top:4334px;
  width:275px;
  height:38px;
}
#u257_img.b {
  width:276px;
  height:39px;
}
#u257.b {
  left:50px;
  top:4334px;
  width:275px;
  height:38px;
}
#u257_text.b {
  width:275px;
}
#u259.b {
  left:50px;
  top:4144px;
  width:275px;
  height:150px;
}
#u259_img.b {
  width:275px;
  height:150px;
}
#u259.b {
  left:50px;
  top:4144px;
  width:275px;
  height:150px;
}
#u260.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4502px;
  width:376px;
  height:2px;
}
#u261.b {
}
#u261_img.b {
}
#u261.b {
}
#u260_state0.b {
  width:376px;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u262.b {
  left:50px;
  top:4622px;
  width:275px;
}
#u262_img.b {
  width:276px;
}
#u262.b {
  left:50px;
  top:4622px;
  width:275px;
}
#u262_text.b {
  width:275px;
}
#u263.b {
  left:50px;
  top:4741px;
  width:275px;
  height:408px;
}
#u263_img.b {
  width:276px;
  height:409px;
}
#u263.b {
  left:50px;
  top:4741px;
  width:275px;
  height:408px;
}
#u263_text.b {
  width:275px;
}
#u264.b {
  left:50px;
  top:5507px;
  width:275px;
  height:32px;
}
#u264_img.b {
  width:276px;
  height:33px;
}
#u264.b {
  left:50px;
  top:5507px;
  width:275px;
  height:32px;
}
#u264_text.b {
  width:275px;
}
#u265.b {
  left:197px;
  top:5219px;
  width:125px;
  height:255px;
}
#u265_img.b {
  width:125px;
  height:255px;
}
#u265.b {
  left:197px;
  top:5219px;
  width:125px;
  height:255px;
}
#u266.b {
  left:53px;
  top:5239px;
  width:125px;
  height:255px;
}
#u266_img.b {
  width:125px;
  height:255px;
}
#u266.b {
  left:53px;
  top:5239px;
  width:125px;
  height:255px;
}
#u267.b {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:5664px;
  width:402px;
  height:2px;
}
#u268.b {
}
#u268_img.b {
}
#u268.b {
}
#u267_state0.b {
  width:402px;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u269.b {
  left:50px;
  top:5785px;
  width:275px;
  height:123px;
}
#u269_img.b {
  width:276px;
  height:124px;
}
#u269.b {
  left:50px;
  top:5785px;
  width:275px;
  height:123px;
}
#u269_text.b {
  width:275px;
}
#u270.b {
  left:50px;
  top:5948px;
  width:269px;
  height:240px;
}
#u270_img.b {
  width:270px;
  height:241px;
}
#u270.b {
  left:50px;
  top:5948px;
  width:269px;
  height:240px;
}
#u270_text.b {
  width:269px;
}
#u271.b {
  left:51px;
  top:6573px;
  width:274px;
}
#u271_img.b {
  width:275px;
}
#u271.b {
  left:51px;
  top:6573px;
  width:274px;
}
#u271_text.b {
  width:274px;
}
#u273.b {
  left:198px;
  top:6278px;
  width:125px;
  height:255px;
}
#u273_img.b {
  width:125px;
  height:255px;
}
#u273.b {
  left:198px;
  top:6278px;
  width:125px;
  height:255px;
}
#u274.b {
  left:53px;
  top:6278px;
  width:125px;
  height:255px;
}
#u274_img.b {
  width:125px;
  height:255px;
}
#u274.b {
  left:53px;
  top:6278px;
  width:125px;
  height:255px;
}
#u275.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6722px;
  width:376px;
  height:2px;
}
#u276.b {
}
#u276_img.b {
}
#u276.b {
}
#u275_state0.b {
  width:376px;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u277.b {
  left:50px;
  top:6842px;
  width:275px;
}
#u277_img.b {
  width:276px;
}
#u277.b {
  left:50px;
  top:6842px;
  width:275px;
}
#u277_text.b {
  width:275px;
}
#u278.b {
  left:50px;
  top:6929px;
  width:275px;
}
#u278_img.b {
  width:276px;
}
#u278.b {
  left:50px;
  top:6929px;
  width:275px;
}
#u278_text.b {
  width:275px;
}
#u279.b {
  left:50px;
  top:7143px;
  width:275px;
}
#u279_img.b {
  width:276px;
}
#u279.b {
  left:50px;
  top:7143px;
  width:275px;
}
#u279_text.b {
  width:275px;
}
#u280.b {
  position:absolute;
  left:0px;
  top:7777px;
  width:375px;
  height:179px;
}
#u281.b {
  left:0px;
  top:7896px;
  width:375px;
}
#u281_img.b {
  width:376px;
}
#u281.b {
  left:0px;
  top:7896px;
  width:375px;
}
#u281_text.b {
  width:375px;
}
#u282.b {
  left:64px;
  top:7824px;
}
#u282_img.b {
}
#u282.b {
  left:64px;
  top:7824px;
}
#u282_img.b.mouseOver {
}
#u282.b.mouseOver {
}
#u282_img.b.mouseDown {
}
#u282.b.mouseDown {
}
#u283.b {
  left:118px;
  top:7824px;
}
#u283_img.b {
}
#u283.b {
  left:118px;
  top:7824px;
}
#u283_img.b.mouseOver {
}
#u283.b.mouseOver {
}
#u283_img.b.mouseDown {
}
#u283.b.mouseDown {
}
#u284.b {
  left:172px;
  top:7829px;
}
#u284_img.b {
}
#u284.b {
  left:172px;
  top:7829px;
}
#u284_img.b.mouseOver {
}
#u284.b.mouseOver {
}
#u284_img.b.mouseDown {
}
#u284.b.mouseDown {
}
#u285.b {
  left:227px;
  top:7824px;
}
#u285_img.b {
}
#u285.b {
  left:227px;
  top:7824px;
}
#u285_img.b.mouseOver {
}
#u285.b.mouseOver {
}
#u285_img.b.mouseDown {
}
#u285.b.mouseDown {
}
#u286.b {
  left:281px;
  top:7826px;
}
#u286_img.b {
}
#u286.b {
  left:281px;
  top:7826px;
}
#u286_img.b.mouseOver {
}
#u286.b.mouseOver {
}
#u286_img.b.mouseDown {
}
#u286.b.mouseDown {
}
#u288.b {
  left:123px;
  top:7777px;
}
#u288_img.b {
}
#u288.b {
  left:123px;
  top:7777px;
}
#u288_img.b.mouseOver {
}
#u288.b.mouseOver {
}
#u288_img.b.mouseDown {
}
#u288.b.mouseDown {
}
#u288_text.b {
}
#u289.b {
  left:194px;
  top:7780px;
}
#u289_img.b {
}
#u289.b {
  left:194px;
  top:7780px;
}
#u290.b {
  left:215px;
  top:7777px;
}
#u290_img.b {
}
#u290.b {
  left:215px;
  top:7777px;
}
#u290_img.b.mouseOver {
}
#u290.b.mouseOver {
}
#u290_img.b.mouseDown {
}
#u290.b.mouseDown {
}
#u290_text.b {
}
#u291.b {
  left:45px;
  top:7207px;
}
#u291_input.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:548px;
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-40px;
  width:401px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u228.c {
  border-width:0px;
  position:absolute;
  left:66px;
  top:0px;
  width:376px;
  height:497px;
}
#u228_state0.c {
  width:376px;
  height:497px;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/projects_ccl/u228_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u229.c {
  position:fixed;
  right:14px;
  top:10px;
}
#u231.c {
}
#u231_img.c {
}
#u231.c {
}
#u231_img.c.selected {
}
#u231.c.selected {
}
#u232.c {
}
#u232_img.c {
}
#u232.c {
}
#u234.c {
}
#u234_img.c {
}
#u234.c {
}
#u234_img.c.selected {
}
#u234.c.selected {
}
#u235.c {
}
#u235_img.c {
}
#u235.c {
}
#u237.c {
}
#u237_img.c {
}
#u237.c {
}
#u237_img.c.selected {
}
#u237.c.selected {
}
#u238.c {
}
#u238_img.c {
}
#u238.c {
}
#u229_state0.c {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:133px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u239.c {
  border-width:0px;
  position:absolute;
  left:66px;
  top:0px;
  width:376px;
  height:497px;
}
#u240.c {
  left:50px;
  top:102px;
  width:275px;
  height:196px;
}
#u240_img.c {
  width:276px;
  height:197px;
}
#u240.c {
  left:50px;
  top:102px;
  width:275px;
  height:196px;
}
#u240_text.c {
  width:275px;
}
#u241.c {
  left:50px;
  top:328px;
  width:275px;
  height:66px;
}
#u241_img.c {
  width:276px;
  height:67px;
}
#u241.c {
  left:50px;
  top:328px;
  width:275px;
  height:66px;
}
#u241_text.c {
  width:275px;
}
#u239_state0.c {
  width:376px;
  height:497px;
  background-color:rgba(217, 186, 138, 0.67843137254902);
  background-image:none;
}
#u242.c {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1103px;
  width:376px;
  height:1102px;
}
#u242_state0.c {
  width:376px;
  height:1102px;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/projects_ccl/u242_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u243.c {
  left:116px;
  top:615px;
  width:275px;
  height:82px;
}
#u243_img.c {
  width:276px;
  height:83px;
}
#u243.c {
  left:116px;
  top:615px;
  width:275px;
  height:82px;
}
#u243_text.c {
  width:275px;
}
#u244.c {
  left:116px;
  top:757px;
  width:275px;
  height:216px;
}
#u244_img.c {
  width:276px;
  height:217px;
}
#u244.c {
  left:116px;
  top:757px;
  width:275px;
  height:216px;
}
#u244_text.c {
  width:275px;
}
#u245.c {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1103px;
  width:376px;
  height:1102px;
}
#u245_state0.c {
  width:376px;
  height:1102px;
  background-color:rgba(33, 33, 33, 0.658823529411765);
  background-image:none;
}
#u246.c {
  left:116px;
  top:1232px;
  width:275px;
  height:82px;
}
#u246_img.c {
  width:276px;
  height:83px;
}
#u246.c {
  left:116px;
  top:1232px;
  width:275px;
  height:82px;
}
#u246_text.c {
  width:275px;
}
#u247.c {
  left:116px;
  top:1470px;
  width:275px;
  height:600px;
}
#u247_img.c {
  width:276px;
  height:601px;
}
#u247.c {
  left:116px;
  top:1470px;
  width:275px;
  height:600px;
}
#u247_text.c {
  width:275px;
}
#u248.c {
  left:116px;
  top:1344px;
  width:275px;
  height:66px;
}
#u248_img.c {
  width:276px;
  height:67px;
}
#u248.c {
  left:116px;
  top:1344px;
  width:275px;
  height:66px;
}
#u248_text.c {
  width:275px;
}
#u249.c {
  left:116px;
  top:2324px;
  width:275px;
}
#u249_img.c {
  width:276px;
}
#u249.c {
  left:116px;
  top:2324px;
  width:275px;
}
#u249_text.c {
  width:275px;
}
#u250.c {
  left:116px;
  top:2466px;
  width:275px;
  height:360px;
}
#u250_img.c {
  width:276px;
  height:361px;
}
#u250.c {
  left:116px;
  top:2466px;
  width:275px;
  height:360px;
}
#u250_text.c {
  width:275px;
}
#u251.c {
  left:124px;
  top:3219px;
  width:267px;
}
#u251_img.c {
  width:268px;
}
#u251.c {
  left:124px;
  top:3219px;
  width:267px;
}
#u251_text.c {
  width:267px;
}
#u252.c {
  left:116px;
  top:2944px;
  width:275px;
  height:275px;
}
#u252_img.c {
  width:275px;
  height:275px;
}
#u252.c {
  left:116px;
  top:2944px;
  width:275px;
  height:275px;
}
#u253.c {
  border-width:0px;
  position:absolute;
  left:66px;
  top:3357px;
  width:376px;
  height:2px;
}
#u254.c {
}
#u254_img.c {
}
#u254.c {
}
#u253_state0.c {
  width:376px;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u255.c {
  left:116px;
  top:3477px;
  width:275px;
  height:82px;
}
#u255_img.c {
  width:276px;
  height:83px;
}
#u255.c {
  left:116px;
  top:3477px;
  width:275px;
  height:82px;
}
#u255_text.c {
  width:275px;
}
#u256.c {
  left:116px;
  top:3618px;
  width:275px;
  height:456px;
}
#u256_img.c {
  width:276px;
  height:457px;
}
#u256.c {
  left:116px;
  top:3618px;
  width:275px;
  height:456px;
}
#u256_text.c {
  width:275px;
}
#u257.c {
  left:116px;
  top:4334px;
  width:275px;
  height:38px;
}
#u257_img.c {
  width:276px;
  height:39px;
}
#u257.c {
  left:116px;
  top:4334px;
  width:275px;
  height:38px;
}
#u257_text.c {
  width:275px;
}
#u259.c {
  left:116px;
  top:4144px;
  width:275px;
  height:150px;
}
#u259_img.c {
  width:275px;
  height:150px;
}
#u259.c {
  left:116px;
  top:4144px;
  width:275px;
  height:150px;
}
#u260.c {
  border-width:0px;
  position:absolute;
  left:66px;
  top:4502px;
  width:376px;
  height:2px;
}
#u261.c {
}
#u261_img.c {
}
#u261.c {
}
#u260_state0.c {
  width:376px;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u262.c {
  left:116px;
  top:4622px;
  width:275px;
}
#u262_img.c {
  width:276px;
}
#u262.c {
  left:116px;
  top:4622px;
  width:275px;
}
#u262_text.c {
  width:275px;
}
#u263.c {
  left:116px;
  top:4741px;
  width:275px;
  height:408px;
}
#u263_img.c {
  width:276px;
  height:409px;
}
#u263.c {
  left:116px;
  top:4741px;
  width:275px;
  height:408px;
}
#u263_text.c {
  width:275px;
}
#u264.c {
  left:116px;
  top:5507px;
  width:275px;
  height:32px;
}
#u264_img.c {
  width:276px;
  height:33px;
}
#u264.c {
  left:116px;
  top:5507px;
  width:275px;
  height:32px;
}
#u264_text.c {
  width:275px;
}
#u265.c {
  left:263px;
  top:5219px;
  width:125px;
  height:255px;
}
#u265_img.c {
  width:125px;
  height:255px;
}
#u265.c {
  left:263px;
  top:5219px;
  width:125px;
  height:255px;
}
#u266.c {
  left:119px;
  top:5219px;
  width:125px;
  height:255px;
}
#u266_img.c {
  width:125px;
  height:255px;
}
#u266.c {
  left:119px;
  top:5219px;
  width:125px;
  height:255px;
}
#u267.c {
  border-width:0px;
  position:absolute;
  left:40px;
  top:5664px;
  width:402px;
  height:2px;
}
#u268.c {
}
#u268_img.c {
}
#u268.c {
}
#u267_state0.c {
  width:402px;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u269.c {
  left:116px;
  top:5785px;
  width:275px;
  height:123px;
}
#u269_img.c {
  width:276px;
  height:124px;
}
#u269.c {
  left:116px;
  top:5785px;
  width:275px;
  height:123px;
}
#u269_text.c {
  width:275px;
}
#u270.c {
  left:116px;
  top:5948px;
  width:269px;
  height:240px;
}
#u270_img.c {
  width:270px;
  height:241px;
}
#u270.c {
  left:116px;
  top:5948px;
  width:269px;
  height:240px;
}
#u270_text.c {
  width:269px;
}
#u271.c {
  left:117px;
  top:6563px;
  width:274px;
}
#u271_img.c {
  width:275px;
}
#u271.c {
  left:117px;
  top:6563px;
  width:274px;
}
#u271_text.c {
  width:274px;
}
#u273.c {
  left:264px;
  top:6268px;
  width:125px;
  height:255px;
}
#u273_img.c {
  width:125px;
  height:255px;
}
#u273.c {
  left:264px;
  top:6268px;
  width:125px;
  height:255px;
}
#u274.c {
  left:119px;
  top:6268px;
  width:125px;
  height:255px;
}
#u274_img.c {
  width:125px;
  height:255px;
}
#u274.c {
  left:119px;
  top:6268px;
  width:125px;
  height:255px;
}
#u275.c {
  border-width:0px;
  position:absolute;
  left:66px;
  top:6712px;
  width:376px;
  height:2px;
}
#u276.c {
}
#u276_img.c {
}
#u276.c {
}
#u275_state0.c {
  width:376px;
  background-color:rgba(235, 235, 235, 1);
  background-image:none;
}
#u277.c {
  left:116px;
  top:6832px;
  width:275px;
}
#u277_img.c {
  width:276px;
}
#u277.c {
  left:116px;
  top:6832px;
  width:275px;
}
#u277_text.c {
  width:275px;
}
#u278.c {
  left:116px;
  top:6919px;
  width:275px;
}
#u278_img.c {
  width:276px;
}
#u278.c {
  left:116px;
  top:6919px;
  width:275px;
}
#u278_text.c {
  width:275px;
}
#u279.c {
  left:116px;
  top:7133px;
  width:275px;
}
#u279_img.c {
  width:276px;
}
#u279.c {
  left:116px;
  top:7133px;
  width:275px;
}
#u279_text.c {
  width:275px;
}
#u280.c {
  position:absolute;
  left:66px;
  top:7767px;
  width:375px;
  height:179px;
}
#u281.c {
  left:66px;
  top:7886px;
  width:375px;
}
#u281_img.c {
  width:376px;
}
#u281.c {
  left:66px;
  top:7886px;
  width:375px;
}
#u281_text.c {
  width:375px;
}
#u282.c {
  left:130px;
  top:7814px;
}
#u282_img.c {
}
#u282.c {
  left:130px;
  top:7814px;
}
#u282_img.c.mouseOver {
}
#u282.c.mouseOver {
}
#u282_img.c.mouseDown {
}
#u282.c.mouseDown {
}
#u283.c {
  left:184px;
  top:7814px;
}
#u283_img.c {
}
#u283.c {
  left:184px;
  top:7814px;
}
#u283_img.c.mouseOver {
}
#u283.c.mouseOver {
}
#u283_img.c.mouseDown {
}
#u283.c.mouseDown {
}
#u284.c {
  left:238px;
  top:7819px;
}
#u284_img.c {
}
#u284.c {
  left:238px;
  top:7819px;
}
#u284_img.c.mouseOver {
}
#u284.c.mouseOver {
}
#u284_img.c.mouseDown {
}
#u284.c.mouseDown {
}
#u285.c {
  left:293px;
  top:7814px;
}
#u285_img.c {
}
#u285.c {
  left:293px;
  top:7814px;
}
#u285_img.c.mouseOver {
}
#u285.c.mouseOver {
}
#u285_img.c.mouseDown {
}
#u285.c.mouseDown {
}
#u286.c {
  left:347px;
  top:7816px;
}
#u286_img.c {
}
#u286.c {
  left:347px;
  top:7816px;
}
#u286_img.c.mouseOver {
}
#u286.c.mouseOver {
}
#u286_img.c.mouseDown {
}
#u286.c.mouseDown {
}
#u288.c {
  left:189px;
  top:7767px;
}
#u288_img.c {
}
#u288.c {
  left:189px;
  top:7767px;
}
#u288_img.c.mouseOver {
}
#u288.c.mouseOver {
}
#u288_img.c.mouseDown {
}
#u288.c.mouseDown {
}
#u288_text.c {
}
#u289.c {
  left:260px;
  top:7770px;
}
#u289_img.c {
}
#u289.c {
  left:260px;
  top:7770px;
}
#u290.c {
  left:281px;
  top:7767px;
}
#u290_img.c {
}
#u290.c {
  left:281px;
  top:7767px;
}
#u290_img.c.mouseOver {
}
#u290.c.mouseOver {
}
#u290_img.c.mouseDown {
}
#u290.c.mouseDown {
}
#u290_text.c {
}
#u291.c {
  left:111px;
  top:7197px;
}
#u291_input.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:548px;
}
