body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:801px;
  overflow:hidden;
}
#u332_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:801px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/projects_protostar/u332_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u332_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u333 {
  position:fixed;
  right:14px;
  top:51px;
}
#u333_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:133px;
  background-image:none;
}
#u333_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u335_img.selected {
}
#u335.selected {
}
#u335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:25px;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:10px;
  width:30px;
  height:24px;
}
#u336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:44px;
  height:44px;
}
#u338_img.selected {
}
#u338.selected {
}
#u338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:60px;
  width:30px;
  height:13px;
}
#u339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:44px;
  height:44px;
}
#u341_img.selected {
}
#u341.selected {
}
#u341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:15px;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:103px;
  width:30px;
  height:14px;
}
#u342_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:83px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:900px;
  width:760px;
  height:82px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  word-wrap:break-word;
}
#u344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:145px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:1131px;
  width:692px;
  height:144px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  line-height:24px;
}
#u344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  word-wrap:break-word;
}
#u345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:37px;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1021px;
  width:900px;
  height:36px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1362px;
  width:1200px;
  height:651px;
}
#u346_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:651px;
  overflow:hidden;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:61px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:2250px;
  width:900px;
  height:60px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:2178px;
  width:30px;
  height:29px;
}
#u349_img.mouseOver {
}
#u349.mouseOver {
}
#u349_img.mouseDown {
}
#u349.mouseDown {
}
#u349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:2178px;
  width:30px;
  height:30px;
}
#u350_img.mouseOver {
}
#u350.mouseOver {
}
#u350_img.mouseDown {
}
#u350.mouseDown {
}
#u350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:2183px;
  width:30px;
  height:19px;
}
#u351_img.mouseOver {
}
#u351.mouseOver {
}
#u351_img.mouseDown {
}
#u351.mouseDown {
}
#u351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:2178px;
  width:30px;
  height:30px;
}
#u352_img.mouseOver {
}
#u352.mouseOver {
}
#u352_img.mouseDown {
}
#u352.mouseDown {
}
#u352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:2180px;
  width:30px;
  height:25px;
}
#u353_img.mouseOver {
}
#u353.mouseOver {
}
#u353_img.mouseDown {
}
#u353.mouseDown {
}
#u353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:2131px;
  width:52px;
  height:19px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  color:#364856;
}
#u355_img.mouseOver {
}
#u355.mouseOver {
}
#u355_img.mouseDown {
}
#u355.mouseDown {
}
#u355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:2134px;
  width:1px;
  height:14px;
}
#u356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:2131px;
  width:35px;
  height:19px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  color:#364856;
}
#u357_img.mouseOver {
}
#u357.mouseOver {
}
#u357_img.mouseDown {
}
#u357.mouseDown {
}
#u357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:768px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u332.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:769px;
  height:485px;
}
#u332_state0.a {
  width:769px;
  height:485px;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/projects_protostar/u332_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u333.a {
  position:fixed;
  right:14px;
  top:51px;
}
#u335.a {
}
#u335_img.a {
}
#u335.a {
}
#u335_img.a.selected {
}
#u335.a.selected {
}
#u336.a {
}
#u336_img.a {
}
#u336.a {
}
#u338.a {
}
#u338_img.a {
}
#u338.a {
}
#u338_img.a.selected {
}
#u338.a.selected {
}
#u339.a {
}
#u339_img.a {
}
#u339.a {
}
#u341.a {
}
#u341_img.a {
}
#u341.a {
}
#u341_img.a.selected {
}
#u341.a.selected {
}
#u342.a {
}
#u342_img.a {
}
#u342.a {
}
#u333_state0.a {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:133px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u343.a {
  left:60px;
  top:537px;
  width:648px;
}
#u343_img.a {
  width:649px;
}
#u343.a {
  left:60px;
  top:537px;
  width:648px;
}
#u343_text.a {
  width:648px;
}
#u344.a {
  left:60px;
  top:724px;
  width:648px;
  height:168px;
}
#u344_img.a {
  width:649px;
  height:169px;
}
#u344.a {
  left:60px;
  top:724px;
  width:648px;
  height:168px;
}
#u344_text.a {
  width:648px;
}
#u345.a {
  left:60px;
  top:646px;
  width:648px;
}
#u345_img.a {
  width:649px;
}
#u345.a {
  left:60px;
  top:646px;
  width:648px;
}
#u345_text.a {
  width:648px;
}
#u346.a {
  top:953px;
  width:768px;
  height:417px;
}
#u346_input.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:417px;
}
#u347.a {
  position:absolute;
  left:0px;
  top:1536px;
  width:768px;
  height:179px;
}
#u348.a {
  left:0px;
  top:1655px;
  width:768px;
}
#u348_img.a {
  width:769px;
}
#u348.a {
  left:0px;
  top:1655px;
  width:768px;
}
#u348_text.a {
  width:768px;
}
#u349.a {
  left:261px;
  top:1583px;
}
#u349_img.a {
}
#u349.a {
  left:261px;
  top:1583px;
}
#u349_img.a.mouseOver {
}
#u349.a.mouseOver {
}
#u349_img.a.mouseDown {
}
#u349.a.mouseDown {
}
#u350.a {
  left:315px;
  top:1583px;
}
#u350_img.a {
}
#u350.a {
  left:315px;
  top:1583px;
}
#u350_img.a.mouseOver {
}
#u350.a.mouseOver {
}
#u350_img.a.mouseDown {
}
#u350.a.mouseDown {
}
#u351.a {
  left:369px;
  top:1588px;
}
#u351_img.a {
}
#u351.a {
  left:369px;
  top:1588px;
}
#u351_img.a.mouseOver {
}
#u351.a.mouseOver {
}
#u351_img.a.mouseDown {
}
#u351.a.mouseDown {
}
#u352.a {
  left:424px;
  top:1583px;
}
#u352_img.a {
}
#u352.a {
  left:424px;
  top:1583px;
}
#u352_img.a.mouseOver {
}
#u352.a.mouseOver {
}
#u352_img.a.mouseDown {
}
#u352.a.mouseDown {
}
#u353.a {
  left:478px;
  top:1585px;
}
#u353_img.a {
}
#u353.a {
  left:478px;
  top:1585px;
}
#u353_img.a.mouseOver {
}
#u353.a.mouseOver {
}
#u353_img.a.mouseDown {
}
#u353.a.mouseDown {
}
#u355.a {
  left:313px;
  top:1536px;
}
#u355_img.a {
}
#u355.a {
  left:313px;
  top:1536px;
}
#u355_img.a.mouseOver {
}
#u355.a.mouseOver {
}
#u355_img.a.mouseDown {
}
#u355.a.mouseDown {
}
#u355_text.a {
}
#u356.a {
  left:384px;
  top:1539px;
}
#u356_img.a {
}
#u356.a {
  left:384px;
  top:1539px;
}
#u357.a {
  left:405px;
  top:1536px;
}
#u357_img.a {
}
#u357.a {
  left:405px;
  top:1536px;
}
#u357_img.a.mouseOver {
}
#u357.a.mouseOver {
}
#u357_img.a.mouseDown {
}
#u357.a.mouseDown {
}
#u357_text.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u332.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:497px;
}
#u332_state0.b {
  width:376px;
  height:497px;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/projects_protostar/u332_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u333.b {
  position:fixed;
  right:14px;
  top:10px;
}
#u335.b {
}
#u335_img.b {
}
#u335.b {
}
#u335_img.b.selected {
}
#u335.b.selected {
}
#u336.b {
}
#u336_img.b {
}
#u336.b {
}
#u338.b {
}
#u338_img.b {
}
#u338.b {
}
#u338_img.b.selected {
}
#u338.b.selected {
}
#u339.b {
}
#u339_img.b {
}
#u339.b {
}
#u341.b {
}
#u341_img.b {
}
#u341.b {
}
#u341_img.b.selected {
}
#u341.b.selected {
}
#u342.b {
}
#u342_img.b {
}
#u342.b {
}
#u333_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:133px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u343.b {
  left:50px;
  top:526px;
  width:275px;
  height:205px;
}
#u343_img.b {
  width:276px;
  height:206px;
}
#u343.b {
  left:50px;
  top:526px;
  width:275px;
  height:205px;
}
#u343_text.b {
  width:275px;
}
#u344.b {
  left:50px;
  top:873px;
  width:275px;
  height:384px;
}
#u344_img.b {
  width:276px;
  height:385px;
}
#u344.b {
  left:50px;
  top:873px;
  width:275px;
  height:384px;
}
#u344_text.b {
  width:275px;
}
#u345.b {
  left:50px;
  top:761px;
  width:275px;
  height:72px;
}
#u345_img.b {
  width:276px;
  height:73px;
}
#u345.b {
  left:50px;
  top:761px;
  width:275px;
  height:72px;
}
#u345_text.b {
  width:275px;
}
#u346.b {
  top:1318px;
  width:375px;
  height:204px;
}
#u346_input.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u347.b {
  position:absolute;
  left:0px;
  top:1582px;
  width:375px;
  height:179px;
}
#u348.b {
  left:0px;
  top:1701px;
  width:375px;
}
#u348_img.b {
  width:376px;
}
#u348.b {
  left:0px;
  top:1701px;
  width:375px;
}
#u348_text.b {
  width:375px;
}
#u349.b {
  left:64px;
  top:1629px;
}
#u349_img.b {
}
#u349.b {
  left:64px;
  top:1629px;
}
#u349_img.b.mouseOver {
}
#u349.b.mouseOver {
}
#u349_img.b.mouseDown {
}
#u349.b.mouseDown {
}
#u350.b {
  left:118px;
  top:1629px;
}
#u350_img.b {
}
#u350.b {
  left:118px;
  top:1629px;
}
#u350_img.b.mouseOver {
}
#u350.b.mouseOver {
}
#u350_img.b.mouseDown {
}
#u350.b.mouseDown {
}
#u351.b {
  left:172px;
  top:1634px;
}
#u351_img.b {
}
#u351.b {
  left:172px;
  top:1634px;
}
#u351_img.b.mouseOver {
}
#u351.b.mouseOver {
}
#u351_img.b.mouseDown {
}
#u351.b.mouseDown {
}
#u352.b {
  left:227px;
  top:1629px;
}
#u352_img.b {
}
#u352.b {
  left:227px;
  top:1629px;
}
#u352_img.b.mouseOver {
}
#u352.b.mouseOver {
}
#u352_img.b.mouseDown {
}
#u352.b.mouseDown {
}
#u353.b {
  left:281px;
  top:1631px;
}
#u353_img.b {
}
#u353.b {
  left:281px;
  top:1631px;
}
#u353_img.b.mouseOver {
}
#u353.b.mouseOver {
}
#u353_img.b.mouseDown {
}
#u353.b.mouseDown {
}
#u355.b {
  left:123px;
  top:1582px;
}
#u355_img.b {
}
#u355.b {
  left:123px;
  top:1582px;
}
#u355_img.b.mouseOver {
}
#u355.b.mouseOver {
}
#u355_img.b.mouseDown {
}
#u355.b.mouseDown {
}
#u355_text.b {
}
#u356.b {
  left:194px;
  top:1585px;
}
#u356_img.b {
}
#u356.b {
  left:194px;
  top:1585px;
}
#u357.b {
  left:215px;
  top:1582px;
}
#u357_img.b {
}
#u357.b {
  left:215px;
  top:1582px;
}
#u357_img.b.mouseOver {
}
#u357.b.mouseOver {
}
#u357_img.b.mouseDown {
}
#u357.b.mouseDown {
}
#u357_text.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u332.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:636px;
}
#u332_state0.c {
  width:481px;
  height:636px;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/projects_protostar/u332_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u333.c {
  position:fixed;
  right:14px;
  top:10px;
}
#u335.c {
}
#u335_img.c {
}
#u335.c {
}
#u335_img.c.selected {
}
#u335.c.selected {
}
#u336.c {
}
#u336_img.c {
}
#u336.c {
}
#u338.c {
}
#u338_img.c {
}
#u338.c {
}
#u338_img.c.selected {
}
#u338.c.selected {
}
#u339.c {
}
#u339_img.c {
}
#u339.c {
}
#u341.c {
}
#u341_img.c {
}
#u341.c {
}
#u341_img.c.selected {
}
#u341.c.selected {
}
#u342.c {
}
#u342_img.c {
}
#u342.c {
}
#u333_state0.c {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:133px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u343.c {
  left:103px;
  top:693px;
  width:275px;
  height:205px;
}
#u343_img.c {
  width:276px;
  height:206px;
}
#u343.c {
  left:103px;
  top:693px;
  width:275px;
  height:205px;
}
#u343_text.c {
  width:275px;
}
#u344.c {
  left:116px;
  top:1038px;
  width:275px;
  height:384px;
}
#u344_img.c {
  width:276px;
  height:385px;
}
#u344.c {
  left:116px;
  top:1038px;
  width:275px;
  height:384px;
}
#u344_text.c {
  width:275px;
}
#u345.c {
  left:103px;
  top:923px;
  width:275px;
  height:72px;
}
#u345_img.c {
  width:276px;
  height:73px;
}
#u345.c {
  left:103px;
  top:923px;
  width:275px;
  height:72px;
}
#u345_text.c {
  width:275px;
}
#u346.c {
  top:1454px;
  width:480px;
  height:261px;
}
#u346_input.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:261px;
}
#u347.c {
  position:absolute;
  left:53px;
  top:1779px;
  width:375px;
  height:179px;
}
#u348.c {
  left:53px;
  top:1898px;
  width:375px;
}
#u348_img.c {
  width:376px;
}
#u348.c {
  left:53px;
  top:1898px;
  width:375px;
}
#u348_text.c {
  width:375px;
}
#u349.c {
  left:117px;
  top:1826px;
}
#u349_img.c {
}
#u349.c {
  left:117px;
  top:1826px;
}
#u349_img.c.mouseOver {
}
#u349.c.mouseOver {
}
#u349_img.c.mouseDown {
}
#u349.c.mouseDown {
}
#u350.c {
  left:171px;
  top:1826px;
}
#u350_img.c {
}
#u350.c {
  left:171px;
  top:1826px;
}
#u350_img.c.mouseOver {
}
#u350.c.mouseOver {
}
#u350_img.c.mouseDown {
}
#u350.c.mouseDown {
}
#u351.c {
  left:225px;
  top:1831px;
}
#u351_img.c {
}
#u351.c {
  left:225px;
  top:1831px;
}
#u351_img.c.mouseOver {
}
#u351.c.mouseOver {
}
#u351_img.c.mouseDown {
}
#u351.c.mouseDown {
}
#u352.c {
  left:280px;
  top:1826px;
}
#u352_img.c {
}
#u352.c {
  left:280px;
  top:1826px;
}
#u352_img.c.mouseOver {
}
#u352.c.mouseOver {
}
#u352_img.c.mouseDown {
}
#u352.c.mouseDown {
}
#u353.c {
  left:334px;
  top:1828px;
}
#u353_img.c {
}
#u353.c {
  left:334px;
  top:1828px;
}
#u353_img.c.mouseOver {
}
#u353.c.mouseOver {
}
#u353_img.c.mouseDown {
}
#u353.c.mouseDown {
}
#u355.c {
  left:176px;
  top:1779px;
}
#u355_img.c {
}
#u355.c {
  left:176px;
  top:1779px;
}
#u355_img.c.mouseOver {
}
#u355.c.mouseOver {
}
#u355_img.c.mouseDown {
}
#u355.c.mouseDown {
}
#u355_text.c {
}
#u356.c {
  left:247px;
  top:1782px;
}
#u356_img.c {
}
#u356.c {
  left:247px;
  top:1782px;
}
#u357.c {
  left:268px;
  top:1779px;
}
#u357_img.c {
}
#u357.c {
  left:268px;
  top:1779px;
}
#u357_img.c.mouseOver {
}
#u357.c.mouseOver {
}
#u357_img.c.mouseDown {
}
#u357.c.mouseDown {
}
#u357_text.c {
}
