body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:801px;
  overflow:hidden;
}
#u371_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:801px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/projects_protostar/u371_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u371_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u372 {
  position:fixed;
  right:14px;
  top:51px;
}
#u372_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:133px;
  background-image:none;
}
#u372_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u374_img.selected {
}
#u374.selected {
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:25px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:10px;
  width:30px;
  height:24px;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:44px;
  height:44px;
}
#u377_img.selected {
}
#u377.selected {
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:60px;
  width:30px;
  height:13px;
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:44px;
  height:44px;
}
#u380_img.selected {
}
#u380.selected {
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:15px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:103px;
  width:30px;
  height:14px;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:83px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:900px;
  width:760px;
  height:82px;
  font-family:'OpenSans-Semibold', 'Open Sans Semibold', 'Open Sans';
  font-weight:650;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  word-wrap:break-word;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:145px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:1131px;
  width:692px;
  height:144px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  line-height:24px;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  word-wrap:break-word;
}
#u384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:37px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:1021px;
  width:900px;
  height:36px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  font-size:26px;
  text-align:center;
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1362px;
  width:1200px;
  height:651px;
}
#u385_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:651px;
  overflow:hidden;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:61px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:2250px;
  width:900px;
  height:60px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:2178px;
  width:30px;
  height:29px;
}
#u388_img.mouseOver {
}
#u388.mouseOver {
}
#u388_img.mouseDown {
}
#u388.mouseDown {
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:2178px;
  width:30px;
  height:30px;
}
#u389_img.mouseOver {
}
#u389.mouseOver {
}
#u389_img.mouseDown {
}
#u389.mouseDown {
}
#u389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:2183px;
  width:30px;
  height:19px;
}
#u390_img.mouseOver {
}
#u390.mouseOver {
}
#u390_img.mouseDown {
}
#u390.mouseDown {
}
#u390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:2178px;
  width:30px;
  height:30px;
}
#u391_img.mouseOver {
}
#u391.mouseOver {
}
#u391_img.mouseDown {
}
#u391.mouseDown {
}
#u391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:26px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:2180px;
  width:30px;
  height:25px;
}
#u392_img.mouseOver {
}
#u392.mouseOver {
}
#u392_img.mouseDown {
}
#u392.mouseDown {
}
#u392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:2131px;
  width:52px;
  height:19px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  color:#364856;
}
#u394_img.mouseOver {
}
#u394.mouseOver {
}
#u394_img.mouseDown {
}
#u394.mouseDown {
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:2134px;
  width:1px;
  height:14px;
}
#u395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:2131px;
  width:35px;
  height:19px;
  font-family:'OpenSans-Light', 'Open Sans Light', 'Open Sans';
  font-weight:200;
  font-style:normal;
  color:#364856;
}
#u396_img.mouseOver {
}
#u396.mouseOver {
}
#u396_img.mouseDown {
}
#u396.mouseDown {
}
#u396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:768px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u371.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:769px;
  height:485px;
}
#u371_state0.a {
  width:769px;
  height:485px;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/projects_protostar/u371_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u372.a {
  position:fixed;
  right:14px;
  top:51px;
}
#u374.a {
}
#u374_img.a {
}
#u374.a {
}
#u374_img.a.selected {
}
#u374.a.selected {
}
#u375.a {
}
#u375_img.a {
}
#u375.a {
}
#u377.a {
}
#u377_img.a {
}
#u377.a {
}
#u377_img.a.selected {
}
#u377.a.selected {
}
#u378.a {
}
#u378_img.a {
}
#u378.a {
}
#u380.a {
}
#u380_img.a {
}
#u380.a {
}
#u380_img.a.selected {
}
#u380.a.selected {
}
#u381.a {
}
#u381_img.a {
}
#u381.a {
}
#u372_state0.a {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:133px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u382.a {
  left:60px;
  top:537px;
  width:648px;
}
#u382_img.a {
  width:649px;
}
#u382.a {
  left:60px;
  top:537px;
  width:648px;
}
#u382_text.a {
  width:648px;
}
#u383.a {
  left:60px;
  top:724px;
  width:648px;
  height:168px;
}
#u383_img.a {
  width:649px;
  height:169px;
}
#u383.a {
  left:60px;
  top:724px;
  width:648px;
  height:168px;
}
#u383_text.a {
  width:648px;
}
#u384.a {
  left:60px;
  top:646px;
  width:648px;
}
#u384_img.a {
  width:649px;
}
#u384.a {
  left:60px;
  top:646px;
  width:648px;
}
#u384_text.a {
  width:648px;
}
#u385.a {
  top:953px;
  width:768px;
  height:417px;
}
#u385_input.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:417px;
}
#u386.a {
  position:absolute;
  left:0px;
  top:1536px;
  width:768px;
  height:179px;
}
#u387.a {
  left:0px;
  top:1655px;
  width:768px;
}
#u387_img.a {
  width:769px;
}
#u387.a {
  left:0px;
  top:1655px;
  width:768px;
}
#u387_text.a {
  width:768px;
}
#u388.a {
  left:261px;
  top:1583px;
}
#u388_img.a {
}
#u388.a {
  left:261px;
  top:1583px;
}
#u388_img.a.mouseOver {
}
#u388.a.mouseOver {
}
#u388_img.a.mouseDown {
}
#u388.a.mouseDown {
}
#u389.a {
  left:315px;
  top:1583px;
}
#u389_img.a {
}
#u389.a {
  left:315px;
  top:1583px;
}
#u389_img.a.mouseOver {
}
#u389.a.mouseOver {
}
#u389_img.a.mouseDown {
}
#u389.a.mouseDown {
}
#u390.a {
  left:369px;
  top:1588px;
}
#u390_img.a {
}
#u390.a {
  left:369px;
  top:1588px;
}
#u390_img.a.mouseOver {
}
#u390.a.mouseOver {
}
#u390_img.a.mouseDown {
}
#u390.a.mouseDown {
}
#u391.a {
  left:424px;
  top:1583px;
}
#u391_img.a {
}
#u391.a {
  left:424px;
  top:1583px;
}
#u391_img.a.mouseOver {
}
#u391.a.mouseOver {
}
#u391_img.a.mouseDown {
}
#u391.a.mouseDown {
}
#u392.a {
  left:478px;
  top:1585px;
}
#u392_img.a {
}
#u392.a {
  left:478px;
  top:1585px;
}
#u392_img.a.mouseOver {
}
#u392.a.mouseOver {
}
#u392_img.a.mouseDown {
}
#u392.a.mouseDown {
}
#u394.a {
  left:313px;
  top:1536px;
}
#u394_img.a {
}
#u394.a {
  left:313px;
  top:1536px;
}
#u394_img.a.mouseOver {
}
#u394.a.mouseOver {
}
#u394_img.a.mouseDown {
}
#u394.a.mouseDown {
}
#u394_text.a {
}
#u395.a {
  left:384px;
  top:1539px;
}
#u395_img.a {
}
#u395.a {
  left:384px;
  top:1539px;
}
#u396.a {
  left:405px;
  top:1536px;
}
#u396_img.a {
}
#u396.a {
  left:405px;
  top:1536px;
}
#u396_img.a.mouseOver {
}
#u396.a.mouseOver {
}
#u396_img.a.mouseDown {
}
#u396.a.mouseDown {
}
#u396_text.a {
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u371.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:497px;
}
#u371_state0.b {
  width:376px;
  height:497px;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/projects_protostar/u371_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u372.b {
  position:fixed;
  right:14px;
  top:10px;
}
#u374.b {
}
#u374_img.b {
}
#u374.b {
}
#u374_img.b.selected {
}
#u374.b.selected {
}
#u375.b {
}
#u375_img.b {
}
#u375.b {
}
#u377.b {
}
#u377_img.b {
}
#u377.b {
}
#u377_img.b.selected {
}
#u377.b.selected {
}
#u378.b {
}
#u378_img.b {
}
#u378.b {
}
#u380.b {
}
#u380_img.b {
}
#u380.b {
}
#u380_img.b.selected {
}
#u380.b.selected {
}
#u381.b {
}
#u381_img.b {
}
#u381.b {
}
#u372_state0.b {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:133px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u382.b {
  left:50px;
  top:526px;
  width:275px;
  height:205px;
}
#u382_img.b {
  width:276px;
  height:206px;
}
#u382.b {
  left:50px;
  top:526px;
  width:275px;
  height:205px;
}
#u382_text.b {
  width:275px;
}
#u383.b {
  left:50px;
  top:873px;
  width:275px;
  height:384px;
}
#u383_img.b {
  width:276px;
  height:385px;
}
#u383.b {
  left:50px;
  top:873px;
  width:275px;
  height:384px;
}
#u383_text.b {
  width:275px;
}
#u384.b {
  left:50px;
  top:761px;
  width:275px;
  height:72px;
}
#u384_img.b {
  width:276px;
  height:73px;
}
#u384.b {
  left:50px;
  top:761px;
  width:275px;
  height:72px;
}
#u384_text.b {
  width:275px;
}
#u385.b {
  top:1318px;
  width:375px;
  height:204px;
}
#u385_input.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:204px;
}
#u386.b {
  position:absolute;
  left:0px;
  top:1582px;
  width:375px;
  height:179px;
}
#u387.b {
  left:0px;
  top:1701px;
  width:375px;
}
#u387_img.b {
  width:376px;
}
#u387.b {
  left:0px;
  top:1701px;
  width:375px;
}
#u387_text.b {
  width:375px;
}
#u388.b {
  left:64px;
  top:1629px;
}
#u388_img.b {
}
#u388.b {
  left:64px;
  top:1629px;
}
#u388_img.b.mouseOver {
}
#u388.b.mouseOver {
}
#u388_img.b.mouseDown {
}
#u388.b.mouseDown {
}
#u389.b {
  left:118px;
  top:1629px;
}
#u389_img.b {
}
#u389.b {
  left:118px;
  top:1629px;
}
#u389_img.b.mouseOver {
}
#u389.b.mouseOver {
}
#u389_img.b.mouseDown {
}
#u389.b.mouseDown {
}
#u390.b {
  left:172px;
  top:1634px;
}
#u390_img.b {
}
#u390.b {
  left:172px;
  top:1634px;
}
#u390_img.b.mouseOver {
}
#u390.b.mouseOver {
}
#u390_img.b.mouseDown {
}
#u390.b.mouseDown {
}
#u391.b {
  left:227px;
  top:1629px;
}
#u391_img.b {
}
#u391.b {
  left:227px;
  top:1629px;
}
#u391_img.b.mouseOver {
}
#u391.b.mouseOver {
}
#u391_img.b.mouseDown {
}
#u391.b.mouseDown {
}
#u392.b {
  left:281px;
  top:1631px;
}
#u392_img.b {
}
#u392.b {
  left:281px;
  top:1631px;
}
#u392_img.b.mouseOver {
}
#u392.b.mouseOver {
}
#u392_img.b.mouseDown {
}
#u392.b.mouseDown {
}
#u394.b {
  left:123px;
  top:1582px;
}
#u394_img.b {
}
#u394.b {
  left:123px;
  top:1582px;
}
#u394_img.b.mouseOver {
}
#u394.b.mouseOver {
}
#u394_img.b.mouseDown {
}
#u394.b.mouseDown {
}
#u394_text.b {
}
#u395.b {
  left:194px;
  top:1585px;
}
#u395_img.b {
}
#u395.b {
  left:194px;
  top:1585px;
}
#u396.b {
  left:215px;
  top:1582px;
}
#u396_img.b {
}
#u396.b {
  left:215px;
  top:1582px;
}
#u396_img.b.mouseOver {
}
#u396.b.mouseOver {
}
#u396_img.b.mouseDown {
}
#u396.b.mouseDown {
}
#u396_text.b {
}
body.c {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:480px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u371.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:636px;
}
#u371_state0.c {
  width:481px;
  height:636px;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/projects_protostar/u371_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u372.c {
  position:fixed;
  right:14px;
  top:10px;
}
#u374.c {
}
#u374_img.c {
}
#u374.c {
}
#u374_img.c.selected {
}
#u374.c.selected {
}
#u375.c {
}
#u375_img.c {
}
#u375.c {
}
#u377.c {
}
#u377_img.c {
}
#u377.c {
}
#u377_img.c.selected {
}
#u377.c.selected {
}
#u378.c {
}
#u378_img.c {
}
#u378.c {
}
#u380.c {
}
#u380_img.c {
}
#u380.c {
}
#u380_img.c.selected {
}
#u380.c.selected {
}
#u381.c {
}
#u381_img.c {
}
#u381.c {
}
#u372_state0.c {
  position:relative;
  left:0px;
  top:0px;
  width:45px;
  height:133px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u382.c {
  left:103px;
  top:693px;
  width:275px;
  height:205px;
}
#u382_img.c {
  width:276px;
  height:206px;
}
#u382.c {
  left:103px;
  top:693px;
  width:275px;
  height:205px;
}
#u382_text.c {
  width:275px;
}
#u383.c {
  left:116px;
  top:1038px;
  width:275px;
  height:384px;
}
#u383_img.c {
  width:276px;
  height:385px;
}
#u383.c {
  left:116px;
  top:1038px;
  width:275px;
  height:384px;
}
#u383_text.c {
  width:275px;
}
#u384.c {
  left:103px;
  top:923px;
  width:275px;
  height:72px;
}
#u384_img.c {
  width:276px;
  height:73px;
}
#u384.c {
  left:103px;
  top:923px;
  width:275px;
  height:72px;
}
#u384_text.c {
  width:275px;
}
#u385.c {
  top:1454px;
  width:480px;
  height:261px;
}
#u385_input.c {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:261px;
}
#u386.c {
  position:absolute;
  left:53px;
  top:1779px;
  width:375px;
  height:179px;
}
#u387.c {
  left:53px;
  top:1898px;
  width:375px;
}
#u387_img.c {
  width:376px;
}
#u387.c {
  left:53px;
  top:1898px;
  width:375px;
}
#u387_text.c {
  width:375px;
}
#u388.c {
  left:117px;
  top:1826px;
}
#u388_img.c {
}
#u388.c {
  left:117px;
  top:1826px;
}
#u388_img.c.mouseOver {
}
#u388.c.mouseOver {
}
#u388_img.c.mouseDown {
}
#u388.c.mouseDown {
}
#u389.c {
  left:171px;
  top:1826px;
}
#u389_img.c {
}
#u389.c {
  left:171px;
  top:1826px;
}
#u389_img.c.mouseOver {
}
#u389.c.mouseOver {
}
#u389_img.c.mouseDown {
}
#u389.c.mouseDown {
}
#u390.c {
  left:225px;
  top:1831px;
}
#u390_img.c {
}
#u390.c {
  left:225px;
  top:1831px;
}
#u390_img.c.mouseOver {
}
#u390.c.mouseOver {
}
#u390_img.c.mouseDown {
}
#u390.c.mouseDown {
}
#u391.c {
  left:280px;
  top:1826px;
}
#u391_img.c {
}
#u391.c {
  left:280px;
  top:1826px;
}
#u391_img.c.mouseOver {
}
#u391.c.mouseOver {
}
#u391_img.c.mouseDown {
}
#u391.c.mouseDown {
}
#u392.c {
  left:334px;
  top:1828px;
}
#u392_img.c {
}
#u392.c {
  left:334px;
  top:1828px;
}
#u392_img.c.mouseOver {
}
#u392.c.mouseOver {
}
#u392_img.c.mouseDown {
}
#u392.c.mouseDown {
}
#u394.c {
  left:176px;
  top:1779px;
}
#u394_img.c {
}
#u394.c {
  left:176px;
  top:1779px;
}
#u394_img.c.mouseOver {
}
#u394.c.mouseOver {
}
#u394_img.c.mouseDown {
}
#u394.c.mouseDown {
}
#u394_text.c {
}
#u395.c {
  left:247px;
  top:1782px;
}
#u395_img.c {
}
#u395.c {
  left:247px;
  top:1782px;
}
#u396.c {
  left:268px;
  top:1779px;
}
#u396_img.c {
}
#u396.c {
  left:268px;
  top:1779px;
}
#u396_img.c.mouseOver {
}
#u396.c.mouseOver {
}
#u396_img.c.mouseDown {
}
#u396.c.mouseDown {
}
#u396_text.c {
}
